{% extends "webpage/navbar.html" %}
{% load static %} <!-- Load the static tag library -->

{% block title %}
    TicketTaka - Home
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/dev_add_admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbarbase.css' %}">
{% endblock %}

{% block main %}
{% endblock %}

{% block main_dev %}
<div class="form-container">
    <h2>Edit "{{iadmin.username}}"</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" value="{{iadmin.username}}"required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" value="{{iadmin.email}}" required>
        </div>
        <!-- <div class="form-group">
            <label for="password1">Password:</label>
            <input type="password" name="password1" required>
        </div>
        <div class="form-group">
            <label for="password2">Confirm Password:</label>
            <input type="password" name="password2" required>
        </div> -->
        <div class="button-container">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock %}

{% block main_notlogin %}
{% endblock %}

{% block script %}
{% endblock %}