{% extends "webpage/navbar.html" %}
{% load static %} <!-- Load the static tag library -->

{% block title %}
    TicketTaka - Home
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/admin_feedback.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbarbase.css' %}">
{% endblock %}

{% block main %}
    <div class="container">
        <h2>My Tickets</h2>
        <table>
            <thead>
                <tr>
                    <th>Seat</th>>
                    <th>Concert</th>
                    <th>Date & Time</th>
                    <th>location</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for x in tickets %}
                    <tr>
                        <td>{{x.seat}}</td>
                        {% for i in all_concerts %}
                            {% if i == x.concert %}
                            <td>{{i.name}}</td>
                            <td>{{i.datetime}}</td>
                            <td>{{i.location}}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{x.price}}</td>
                        <td>Owned</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block main_admin %}
{% endblock %}

{% block main_notlogin %}
{% endblock %}

{% block script %}
{% endblock %}