body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E6F7FF;
}

.container {
    width: 80%;
    margin: 0 auto;
}   

h2 {
    text-align: center;
    color: #333;
}

h3 {
    text-align: center;
    color: #050c33;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #1a1a1a;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.edit-button {
    padding: 8px 12px;
    background-color: #ffd900;  /* Blue button */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: #867200;
}

.edit2-button {
    padding: 8px 12px;
    background-color: #48ff00;  /* Blue button */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.edit2-button:hover {
    background-color: #237a00;
}

.delete-button {
    padding: 8px 12px;
    background-color: #ff0000;  /* Blue button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #7e0000;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.create-button {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.create-button:hover {
    background-color: #45a049;
}